; Configuration file for third party software install locations and any
; software outside of the ergatis install path.
; Each section provides a set of variables corresponding to a component
; and so headers must correspond to component names. For example tokens
; under [component wu-blastp] will only be evaluated when running the wu-blastp
; component.  Tokens under any 'common' section will be evaluated for all
; components ;; common stuff first
[common shared]
$;PARAM$;=value

[common inputs]
$;PARAM$;=value

[component ###component_name###]
$;PARAM$;=value
