; Configuration file for third party software install locations and any
; software outside of the ergatis install path.
; Each section provides a set of variables corresponding to a component
; and so headers must correspond to component names. For example tokens
; under [component wu-blastp] will only be evaluated when running the wu-blastp
; component.  Tokens under any 'common' section will be evaluated for all
; components ;; common stuff first
[common shared]
$;BWA_EXEC$;=/usr/local/packages/bwa-0.7.15/bwa
$;SAMTOOLS_BIN$;=/usr/local/bin/
$;SAMTOOLS_EXEC$;=/usr/local/packages/samtools-1.3.1/samtools

[common inputs]
$;DB_DIR$;=/local/db
$;NCBI_BLAST_NUC_NR$;=/local/db/ncbi/blast/db/nr
$;NCBI_BLAST_NT$; = /local/db/ncbi/blast/db/nt

[component filter_dups_lc_seqs]
$;PICARD_TOOLS$;=/usr/local/packages/picard-tools-2.4.1/picard.jar
$;PRINSEQ_EXEC$;=/usr/local/packages/prinseq-lite/bin/prinseq-lite.pl

[component ncbi-blastn]
$;BLASTALL_EXEC$;=/usr/local/bin/blastall

[component sra2fastq]
$;SRA_TOOLS_BIN$;=/usr/local/packages/sratoolkit.2.6.3/
