[lgt_bwa donor]
$;INPUT_FILE$; = $;DONOR_REFERENCE$;
$;INPUT_FILE_LIST$; = $;DONOR_LIST$;
$;QUERY_FILE$; = $;REPOSITORY_ROOT$;/output_repository/sra2fastq/$;PIPELINEID$;_default/sra2fastq.list

[lgt_bwa lgt]
$;INPUT_FILE$; = $;REFSEQ_REFERENCE$;
$;INPUT_FILE_LIST$; = $;REFSEQ_LIST$;

[global]
;; Donor fasta reference
$;DONOR_REFERENCE$; =
$;DONOR_LIST$; =
;; Refseq fasta sequence
$;REFSEQ_REFERENCE$; =
$;REFSEQ_LIST$; =
