; Configuration file for third party software install locations and any
; software outside of the ergatis install path.
; Each section provides a set of variables corresponding to a component
; and so headers must correspond to component names. For example tokens
; under [component wu-blastp] will only be evaluated when running the wu-blastp
; component.  Tokens under any 'common' section will be evaluated for all
; components ;; common stuff first
[common shared]
$;BWA_EXEC$;=/opt/packages/bwa/bwa
$;SAMTOOLS_BIN$;=/opt/packages/samtools/bin
$;SAMTOOLS_EXEC$;=/opt/packages/samtools/bin/samtools

[common inputs]
$;DB_DIR$;=/local/db
$;NCBI_BLAST_NUC_NR$;=/local/db/ncbi/blast/db/nr
$;NCBI_BLAST_NT$; = /local/db/ncbi/blast/db/nt

[component filter_dups_lc_seqs]
$;PICARD_TOOLS$;=/opt/packages/picard/picard.jar
$;PRINSEQ_EXEC$;=/opt/packages/prinseq/prinseq-lite.pl
$;JAVA_EXEC$;=/usr/bin/java

[component ncbi-blastn]
$;BLASTALL_EXEC$;=/opt/packages/ncbi_blast/blastall

[component sra2fastq]
$;SRA_TOOLS_BIN$;=/opt/packages/sra-tools/
